@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('http://fonts.cdnfonts.com/css/cocogoose');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #272a31;
  --secondary: #ec5242;
  --terciary: #d3d3d3;
  --brand: #d23228;
  --success: #0d7d4d;
  --info: #03c7e8;
  --warning: #f0cc00;
  --danger: #ab0d02;
  --light: #f1ecea;
  --dark: #00262b;
  --white: #fff;
  --cocogoose-font: 'COCOGOOSE', sans-serif;
  --lato-font: 'Lato', sans-serif;
}

body {
  font-family: var(--lato-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/*  HEAD NAVIGATION */
.burger {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 30px;
  color: var(--primary);
  font-weight: bolder;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
}

.burger:hover {
  text-shadow: 1px 1px var(--white);
}

.nav1 {
  background-color: var(--primary);
}

.nav1 a {
  color: var(--white);
}

.nav2 {
  background-color: var(--white);
  color: var(--primary);
  box-shadow: 10px 10px 20px var(--primary);
}

.ul-1 {
  padding: 10px 0;
}

.ul-1 > * {
  color: var(--primary);
  padding: 5px;
  font-weight: bold;
}

.btn-close {
  display: flex;
  justify-content: flex-end;
}

.btn-close a {
  font-size: 20px;
  padding: 0 10px;
}

.ul-2 {
  padding: 10px 0;
}

.ul-2 li {
  padding: 5px;
}

.ul-2 a {
  color: var(--primary);
  font-weight: bold;
}

.ul-1 > *:hover {
  opacity: 0.7;
}

.ul-2 li > *:hover {
  border-bottom: 3px solid var(--primary);
  padding-bottom: 3px;
}

/*   HEADLINE SECTION    */
#headline {
  background-image: url(./images/hero-photo-03.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.inner-hero {
  padding: 90px 0;
}

blockquote {
  font-size: 20px;
  line-height: 24px;
  color: var(--secondary);
  font-weight: 100;
  font-weight: lighter;
}

.hero-title {
  font-family: var(--cocogoose-font);
  font-size: 40px;
  line-height: 40px;
  color: var(--secondary);
  font-weight: 400;
  margin: 15px 0 20px 0;
}

.hero-paragraph {
  background-color: rgba(236, 236, 236, 0.2);
  border: 2px solid var(--white);
  color: var(--primary);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  padding: 20px 12px;
}

.hero-date {
  font-family: var(--cocogoose-font);
  color: var(--primary);
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  padding: 12px 0 0 0;
}

.hero-join {
  color: var(--primary);
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

/* COURSES SEECTION  */
#courses {
  background-color: var(--primary);
  padding: 10px 0;
}

.course-menu {
  color: var(--terciary);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0 10px 0;
}

#courses hr {
  width: 30px;
  margin: auto;
  border: 1px solid var(--secondary);
}

.ul-courses {
  margin: 10px 0;
}

.ul-courses li {
  background-color: rgba(256, 226, 256, 0.1);
  margin: 10px 0;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.ul-courses img {
  flex: 20%;
  width: 40px;
  padding: 5px;
}

.ul-courses h4 {
  flex: 30%;
  color: var(--secondary);
  font-size: 16px;
}

.ul-courses p {
  flex: 50%;
  color: var(--terciary);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.more-courses {
  cursor: pointer;
  width: 80%;
  margin: 20px auto 10px auto;
  color: var(--white);
  background-color: var(--secondary);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 40px;
}

/* ISNTRUCTOR SECTION */
#intructors {
  background-color: var(--white);
  padding: 10px 0 20px 0;
}

.instructors-title {
  color: var(--primary);
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  margin: 15px 0 10px 0;
}

#intructors hr {
  width: 30px;
  margin: auto;
  border: 1px solid var(--secondary);
}

.ul-instructors {
  margin: 10px 0;
}

.ul-instructors li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.profile-img {
  flex: 35%;
}

#profile-info {
  flex: 75%;
}

.profile-img img {
  width: 100%;
}

#profile-info h3 {
  color: var(--primary);
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0;
}

#profile-info h4 {
  color: var(--secondary);
  font-style: italic;
  font-weight: 500;
  margin-bottom: 10px;
}

#profile-info hr {
  width: 30px;
  margin: auto auto auto 0;
  border-color: var(--primary);
  border-width: thin;
}

#profile-info h5 {
  color: var(--primary);
  line-height: 1.3;
  font-style: italic;
  font-weight: 700;
  margin: 10px 0;
}

.profile-more {
  outline: 1px solid var(--primary);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5px 10px 10px 10px;
  margin: 10px 0;
}

.fa-chevron-down {
  color: var(--secondary);
  padding: 10px 10px 0 10px;
  font-weight: bold;
}
